<div class="container">
  <div class="header-row">
    <div class= "tasks-header">
      <div class="col-md-11">
        <h1>My Groups</h1>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default" ng-click="openGroupHelpModal($event)">
          <span class="glyphicon glyphicon-question-sign"></span>
        </button>
          <div id="groupHelpModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Help Guide</h3>
                </div>
                <div class="modal-body help-body">
                  <div class="instruction-row">
                    <div id="groupHelp1">
                      <h4>Adding A Group</h4>
                        <div class="help-info">
                          Click on "Add Group" and simply input a name and description for your group.
                          You'll be able to add members by email. <br>Note: members won't display until they have created an account.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "groups-page1.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-10"></div>
                          <div class="col-md-2">
                            <button ng-click="groupNext(1)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="groupHelp2">
                      <h4>Adding a Member to an Existing Group</h4>
                        <div class="help-info">
                          Click on the existing group - it will turn blue. <br> Then, enter the new member's email address and click "+" to add that member.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "groups-page2.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="groupBack(2)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button ng-click="groupNext(2)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="groupHelp3">
                      <h4>Adding a Member to an Existing Group (cont)</h4>
                        <div class="help-info">
                          You will see this member under an invited list until they have confirmed their invitation.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "groups-page3.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="groupBack(3)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button ng-click="groupNext(3)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="groupHelp4">
                      <h4>Being Added to a Group</h4>
                        <div class="help-info">
                          If you've been invited to a group, you will see this group in an Invited list undr your Current Groups. You can choose to Accept or Ignore invitations.
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "groups-page4.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="groupBack(4)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button ng-click="groupNext(4)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none" id="groupHelp5">
                      <h4>Editing A Group</h4>
                        <div class="help-info">
                          You must be the creator of the group to be able to edit it. Select the group and click the edit button next to the group's name. 
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "groups-page5.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="groupBack(5)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button ng-click="groupNext(5)" class="btn btn-default">Next</button>
                          </div>
                        </div>
                    </div>
                    <div style="display:none"  id="groupHelp6">
                      <h4>Leaving A Group</h4>
                        <div class="help-info">
                          Simply click "Leave Group" to disconnect from group. All tasks and bills related to this group will be gone. 
                        </div>
                        <hr>
                        <div class="help-image"><%= image_tag "groups-page6.png" %></div>
                        <hr>
                        <div class="backNext">
                          <div class="col-md-2">
                            <button ng-click="groupBack(6)" class="btn btn-default">Back</button>
                          </div>
                          <div class="col-md-8"></div>
                          <div class="col-md-2">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <!-- Start Group List Display -->
  <div class="group-body">
    <div class="col-md-5">
      <div class="groups">
        <div>
          <div class="groups-listtitle">
            <button type="button" ng-click="showAddGroup()" class="btn btn-danger group-add">Add Group</button>
            <h3 style="text-align: left">Current</h3>
          </div>            
          <div class="group-scroll">
            <div class="list-group">
                <!-- $parent is required because ng-repeat creates a new scope -->
                <a ng-repeat="grp in groupsList | accepted | orderGroups"
                   class="list-group-item" ng-class="{grp_active :$parent.group_selected == grp.id}"
                   ng-click="$parent.selectGroup(grp.id)">
                  <h4>{{grp.name}}</h4>
                </a>
            </div>
          </div>
        </div>

        <div ng-show="(groupsList | pending).length > 0">
          <div class="groups-listtitle">
            <h3 style="text-align: left">Invited to</h3>
          </div>            
          <div class="group-scroll">
            <div class="list-group">
                <!-- $parent is required because ng-repeat creates a new scope -->
                <a ng-repeat="grp in groupsList | pending | orderGroups"
                   class="list-group-item" ng-class="{grp_active :$parent.group_selected == grp.id}"
                   ng-click="$parent.selectGroup(grp.id)">
                  <h4>{{grp.name}}</h4>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="group-display">
        <div class="group-titlerow">
          <div class="group-leavebutton" ng-hide="groupsList[group_selected].isSelfGroup || !groupsList[group_selected].accepted">
            <button ng-click="leaveGroup(groupsList[group_selected].id)" type="button" class="btn btn-leave">Leave Group</button>
          </div>
          <div class="group-name">
            <h3>
              <span>{{(groupsList[group_selected].accepted ? "" : "You have been invited to: ") + groupsList[group_selected].name}}<span>
                <button type="button" ng-hide="groupsList[group_selected].isSelfGroup || !groupsList[group_selected].accepted" ng-click="showEditGroup($event)" class="btn btn-default btn-xs">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </h3>
          </div>
        </div>  
        <div class="group-members">
          <div class="group-members-scroll">
            <div>
              <h3 style="text-align: left">Current</h3>
              <a class="list-group-item" ng-class="{mem_active :$parent.member_selected == mem.id}"
                   ng-repeat="mem in currentMembers | orderUsers"
                   ng-click="$parent.member_selected=mem.id">
                <h4>{{mem.firstname}}</h4>
              </a>
            </div>

            <br>

            <div ng-show="(currentPending | orderUsers).length > 0">
              <h3 style="text-align: left">Invited</h3>
              <a class="list-group-item" ng-class="{mem_active :$parent.member_selected == mem.id}"
                   ng-repeat="mem in currentPending | orderUsers"
                   ng-click="$parent.member_selected=mem.id">
                <h4>{{mem.firstname}}</h4>
              </a>
            </div>
          </div>
          <div ng-hide="groupsList[group_selected].isSelfGroup || !groupsList[group_selected].accepted">
            <input type="text" ng-model="addNewMember" ng-keypress="addMember($event)" class="form-control group-add" placeholder="new member email" />
            <button type="button" ng-click="addMember($event)" class="btn btn-default group-add">+</button>
          </div>
        </div>
        <div class="group-description" ng-show="member_selected == -1">
          <h4 class="wrapword">{{groupsList[group_selected].description}}</h4>
        </div>
        <div class="group-description" ng-hide="member_selected == -1">
          <h4>Username: {{currentMembers[member_selected].username || currentPending[member_selected].username}}</h4>
          <h4>Full Name: {{(currentMembers[member_selected].firstname || currentPending[member_selected].firstname) + " " + 
                           (currentMembers[member_selected].lastname || currentPending[member_selected].lastname)}}</h4>
        </div>
        <div ng-show="!groupsList[group_selected].accepted">
          <button type="button" ng-click="acceptGroup(group_selected)" class="btn btn-default" style="background-color: #7ab847; color: white">Accept</button>
          <button type="button" ng-click="ignoreGroup(group_selected)" class="btn btn-default" style="background-color: #d9534f; color: white">Ignore</button>
        </div>
      </div>
    </div>

    <!-- Start Add Group Pop Up -->
    <div id="groupModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Add Group</h3>
          </div>
          <div class="modal-body group-add-body">
            <div class="col-md-6">
              <h5>Name:</h5><input ng-model="groupCreateName" type="text" />
              <h5>Description:</h5><textarea ng-model="groupCreateDescription"></textarea>
            </div>
            <div class="col-md-5">
              <h5>Members:</h5>
              <div id="groupMembers">
                <div ng-repeat="mem in newMemberList | orderUsers">{{mem.firstname + " " + mem.lastname + " (" + mem.username + ")"}}</div>
              </div>
              <input class="form-control" ng-model="newMember" ng-keypress="checkByEmail($event)" type="text" placeholder="add member by email" />
              <button ng-click="checkByEmail($event)" type="button" class="btn btn-default group-add">Add Member</button>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn" ng-click="createGroup($event)">Save</button>
          </div>
        </div>
      </div>
    </div> <!-- End Add Group Pop Up -->
    <!-- Start Edit Group Pop Up -->
    <div id="editModal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Add Group</h3>
          </div>
          <div class="modal-body group-add-body">
            <div class="col-md-6">
              <h5>Name:</h5><input ng-model="editName" type="text" />
              <h5>Description:</h5><textarea ng-model="editDescription"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn" ng-click="editGroup($event)">Save</button>
          </div>
        </div>
      </div>
    </div> <!-- End Edit Group Pop Up -->
  </div> <!-- End Group List Display -->
</div>
