<!-- 
TeamPlayer - 2014

Displays pages for after successful login: 
    Home, Tasks, Bills, Groups -->

    <!-- ********************** Home part begin *************** -->
    <!-- ********************** Home part begin *************** -->
<div id="content" ng-switch on="activeTab">
  <div ng-controller="homeViewController" ng-switch-when="selected_home">
    <div class="container">
        <div class="header-row">
          <div class= "home-header">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="alert alert-info" ng-show="Object.keys($scope.groupsList).length <= 1"><b>Oh no! Looks like you don't have any groups. Click on the "Groups" tab to get started!</b>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1">
              <button class="btn btn-default" ng-click="openHomeHelpModal($event)">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
                <div id="homeHelpModal" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                          <h3>Help Guide</h3>
                      </div>
                    <div class="modal-body help-body">
                      <div class="instruction-row">
                        <div id="homeHelp1">
                          <h4>Using The Calendar</h4>
                            <div class="help-info">
                              All of your tasks/bills as well as those of your groups' appear on the calendar.
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "home-page1.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                <button ng-click="homeNext(1)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="homeHelp2">
                          <h4>Using The Calendar (cont.)</h4>
                            <div class="help-info">
                              Colors on the calendar are differentiated based on resposibility and completion.<br><br>
                              View the Legend at the bottom of the calendar for reference.
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "home-page2.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="homeBack(2)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button ng-click="homeNext(2)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="homeHelp3">
                          <h4>Clicking on the Calendar</h4>
                            <div class="help-info">
                              Clicking on a day allows you to see all events for that day.<br>
                              Completed events are <font color="gray"><b><i>gray</i></b></font>, bills you have to pay for are <font color="#7ab847"><b><i>green</i></b></font>, tasks you need to complete are <font color="yellow"><b><i>yellow</i></b></font>, and bills others owe you as well as uncompleted tasks by other group members are <font color="#ff8282"><b><i>pink</i></b></font>.
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "home-page3.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="homeBack(3)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button ng-click="homeNext(3)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="homeHelp4">
                          <h4>Using The To Do List</h4>
                            <div class="help-info">
                              Dateless tasks appear under this list for you to keep track of things you need to do,
                              but have no deadline for. Click it to complete a task.
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "home-page4.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="homeBack(4)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>



      <div class="calendar-row">
        <div class="col-md-3">
            <div class="home-buttons" style="visibility: hidden">
                <button type="button" class="btn btn-default" id="addTaskBut">Add Task</button>
                <button type="button" class="btn btn-default" id="addBillBut">Add Bill</button>
            </div>


<!-- calendar modal -->
              <div id="calendarModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h3 id="calendarModal-header"></h3>
                    </div>
                    <div class="modal-body help-body">
                      <div id="calendarModal-content"></div>
                        <div id="calendarModal-buttons">
                          <div class="col-md-9"></div>
                          <div class="col-md-3" id="calendar-modal-buttons">
                            <!-- <button class="btn edit-btn">Edit</button> -->
                            <button class="btn btn-success" ng-click="finishEvent()" data-dismiss="modal">Completed</button>
                          </div>
                        </div>
                    </div>
                  </div> 
                </div>
              </div>

<!-- date modal -->
<div id="dateModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3 id="dateModal-header"></h3>
      </div>
      <div class="modal-body help-body">
        <div id="dateModal-content"></div>
          <div id="dateModal-buttons">
            <div class="col-md-8"></div>
          </div>
      </div>
    </div> 
  </div>
</div>

          

<!-- to do's -->
            <div class="home-tasks">
                <h3>To Do</h3>
                <div class="home-todos">
                  <div class="home-dateless">
                    <div ng-repeat="todo in todos | onlyMyTasks:myID">
                      <div class="panel-danger home-todo" ng-click="openCalendarModal(todo)">
                        <div class="panel-heading">
                          <div class="task-panel">
                              <h4 class="panel-descr">{{todo.title}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Today's Tasks</h3>
                <div class="home-todays">
                  <div ng-repeat="today in todaysTasks | onlyMyTasks:myID">
                    <div class="panel-danger home-todo" ng-click="openCalendarModal(today)">
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">{{today.title}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
          <div class="home-calendar" style="position:relative; right: 100px">
            <div id="calendar-display"></div>
            <br>
            <fieldset style="text-align: center">
              <legend>Legend</legend>
              <div style="width: 90%; margin: auto">
                <div style="float: left; margin-right: 20px">
                  <div class="btn btn-xs btn-myTask">Your Incomplete Task</div><br><br>
                  <div class="btn btn-xs btn-yourTask">Another's Incomplete Task</div>
                </div>
                <div style="float: left; margin-right: 20px">
                  <div class="btn btn-xs btn-myBill">A Bill You Owe</div><br><br>
                  <div class="btn btn-xs btn-yourBill">A Bill Owed To You</div>
                </div>
                <div style="float: left; margin-right: 20px">
                  <div class="btn btn-xs btn-myOverdue">Your Overdue</div><br><br>
                  <div class="btn btn-xs btn-yourOverdue">Another's Overdue</div>
                </div>
                <div style="float: left; margin-right: 20px"> 
                  <div class="btn btn-xs btn-completed">Completed Tasks/Bills</div>
                </div>
              </div>
            </fieldset>
            </div>
        </div>
    </div>
  </div>
</div>



<!-- navigate through tabs -->
  <div ng-controller="tasksViewController" ng-switch-when="selected_tasks">
    <!-- <div ng-include src="'tasks.html'"></div> -->

    <!-- ********************** Task part begin *************** -->
    <!-- ********************** Task part begin *************** -->
    <%= render :partial => 'static_pages/tasks' %>
  </div>
    
    <!-- ********************** Task part end *************** -->
    <!-- ********************** Task part end *************** -->


  <div ng-controller="billsViewController" ng-switch-when="selected_bills">
    <!-- <div ng-include src="'bills.html'"></div> -->

    <!-- ********************** Bill part begin *************** -->
    <!-- ********************** Bill part begin *************** -->
    <%= render :partial => 'static_pages/bills' %>
    <!-- ********************** Bill part end *************** -->
    <!-- ********************** Bill part end *************** -->
</div>

  <div ng-controller="groupsViewController" ng-switch-when="selected_groups">
    <!-- <div ng-include src="'groups.html'"></div> -->
    <!-- ********************** Group part begin *************** -->
    <!-- ********************** Group part begin *************** -->
    <%= render :partial => 'static_pages/groups' %>
    
    <!-- ********************** Group part end *************** -->
    <!-- ********************** Group part end *************** -->
  </div>
</div>

