<!-- 
TeamPlayer - 2014

Displays pages for after successful login: 
    Home, Tasks, Bills, Groups -->

    <!-- ********************** Home part begin *************** -->
    <!-- ********************** Home part begin *************** -->
<div id="content" ng-switch on="activeTab">
  <div ng-controller="homeViewController" ng-switch-when="selected_home">
    <div class="container">
        <div class="header-row">
          <div class= "home-header">
            <div class="col-md-11">
            </div>
            <div class="col-md-1">
              <button class="btn btn-default" ng-click="openHomeHelpModal($event)">
                <span class="glyphicon glyphicon-question-sign"></span>
              </button>
                <div id="homeHelpModal" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                          <h3>Help Guide</h3>
                      </div>
                    <div class="modal-body help-body">
                      <div class="instruction-row">
                        <div id="homeHelp1">
                          <h4>Using The Calendar</h4>
                            <div class="help-info">
                              All of your tasks/bills as well as those of your groups' appear on the calendar.<br>
                              Tasks appear in yellow, bills appear in green, and completed tasks/bills appear gray.<br>
                              Select one to view more info or edit.
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "Untitled.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-10"></div>
                              <div class="col-md-2">
                                <button ng-click="homeNext(1)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="homeHelp2">
                          <h4>Using The To Do List</h4>
                            <div class="help-info">
                              Dateless tasks appear under this list for you to keep track of things you need to do,
                              but have no deadline for. Click it to edit or complete.
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "Untitled.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="homeBack(2)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button ng-click="homeNext(2)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none" id="homeHelp3">
                          <h4>BLAH</h4>
                            <div class="help-info">
                              BLAH
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "Untitled.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="homeBack(3)" class="btn btn-default">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button ng-click="homeNext(3)" class="btn btn-default">Next</button>
                              </div>
                            </div>
                        </div>
                        <div style="display:none"  id="homeHelp4">
                          <h4>BLAH</h4>
                            <div class="help-info">
                              BLAH
                            </div>
                            <hr>
                            <div class="help-image"><%= image_tag "Untitled.png" %></div>
                            <hr>
                            <div class="backNext">
                              <div class="col-md-2">
                                <button ng-click="homeBack(4)" class="btn btn-default" id="btn-task1">Back</button>
                              </div>
                              <div class="col-md-8"></div>
                              <div class="col-md-2">
                                <button class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>























        <div class="col-md-3">
            <div class="home-buttons" style="visibility: hidden">
                <button type="button" class="btn btn-default" id="addTaskBut">Add Task</button>
                <button type="button" class="btn btn-default" id="addBillBut">Add Bill</button>
            </div>























<!-- calendar modal -->
              <div id="calendarModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">×</button>
                      <h3 id="calendarModal-header"></h3>
                    </div>
                    <div class="modal-body help-body">
                      <div id="calendarModal-content"></div>
                        <div id="calendarModal-buttons">
                          <div class="col-md-8"></div>
                          <div class="col-md-4" id="calendar-modal-buttons">
                            <button class="btn edit-btn">Edit</button>
                            <button class="btn btn-success" ng-click="finishTask()" data-dismiss="modal">Done</button>
                          </div>
                        </div>
                    </div>
                  </div> 
                </div>
              </div>
          

<!-- to do's -->
            <div class="home-tasks">
                <h3>To Do</h3>
                <div class="home-todos">
                  <div class="home-dateless">
                    <div ng-repeat="todo in todos">
                      <div class="panel-danger home-todo" ng-click="openCalendarModal(todo)">
                        <div class="panel-heading">
                          <div class="task-panel">
                              <h4 class="panel-descr">{{todo.title}}</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h3>Today's Tasks</h3>
                <div class="home-todays">
                  <div ng-repeat="today in todaysTasks">
                    <div class="panel-danger home-todo" ng-click="openCalendarModal(today)">
                      <div class="panel-heading">
                        <div class="task-panel">
                            <h4 class="panel-descr">{{today.title}}</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
          <div class="home-calendar" style="position:relative; right: 100px">
            <div id="calendar-display"></div>
          </div>
        </div>
    </div>
</div>



<!-- navigate through tabs -->
  <div ng-controller="tasksViewController" ng-switch-when="selected_tasks">
    <!-- <div ng-include src="'tasks.html'"></div> -->

    <!-- ********************** Task part begin *************** -->
    <!-- ********************** Task part begin *************** -->
    <%= render :partial => 'static_pages/tasks' %>
  </div>
    
    <!-- ********************** Task part end *************** -->
    <!-- ********************** Task part end *************** -->


  <div ng-controller="billsViewController" ng-switch-when="selected_bills">
    <!-- <div ng-include src="'bills.html'"></div> -->

    <!-- ********************** Bill part begin *************** -->
    <!-- ********************** Bill part begin *************** -->
    <%= render :partial => 'static_pages/bills' %>
    <!-- ********************** Bill part end *************** -->
    <!-- ********************** Bill part end *************** -->
</div>

  <div ng-controller="groupsViewController" ng-switch-when="selected_groups">
    <!-- <div ng-include src="'groups.html'"></div> -->
    <!-- ********************** Group part begin *************** -->
    <!-- ********************** Group part begin *************** -->
    <%= render :partial => 'static_pages/groups' %>
    
    <!-- ********************** Group part end *************** -->
    <!-- ********************** Group part end *************** -->
  </div>
</div>

