<!DOCTYPE html>
<html>
  <head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="images/icon.png">
  <%= render 'layouts/shim' %>
  <title>Team Player</title>
  </head>
  <body ng-app="myapp" ng-controller="mainViewController">
    <%= render 'layouts/header' %>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
